<div id="app">
  <div id="header">
    <h1>
      {{title}}
    </h1>
  </div>

  <div id="grocery-list">
    <h2>My grocery list:</h2>
    <input (keyup)="searchItem()" [(ngModel)]="search" placeholder="Search by title ..." />
    <button class="add-button" (click)='openNewItemPanel()'>Add</button>
    <ul>
      <li *ngFor="let item of groceryList" (click)="chooseItem(item.title)">
        <div class="item-title">{{item.title}}</div>
        <br>
        <a href="{{item.link}}" target="_blank">Link: {{item.link}}</a>
        <div class="bottom-checkbox">
          <span *ngIf="item.completed">Purchased</span>
        </div>
      </li>
    </ul>
  </div>

  <div id="item-modal" *ngIf="modification">
    <form #form="ngForm" novalidate (ngSubmit)="updateItem()">
      <div>
        <label>Title</label>
        <br>
        <input class="form-input" type="text" name="title" #title="ngModel" [(ngModel)]="selectedItem.title" required/>
        <br>
        <small *ngIf="!title.valid && form.form.submited" style="color: red">title is required.</small>
      </div>
      <div>
        <label>description</label>
        <br>
        <textarea type="text" name="description" [(ngModel)]="selectedItem.description"></textarea>
      </div>
      <div>
        <label>link</label>
        <br>
        <input class="form-input" type="text" name="link" [(ngModel)]="selectedItem.link" />
      </div>
      <div>
        <input type="checkbox" name="purchased" [(ngModel)]="selectedItem.completed" />
        <label>Purchased</label>
      </div>
      <br>
      <button type="submit">Comfirm</button>
      <button type="button" (click)="close()">Close</button>
      <button type="button">Delete</button>
    </form>
  </div>

  <div id="new-item-modal" *ngIf="addnew">
    <form #form="ngForm" novalidate (ngSubmit)="addNewItem()">
      <div>
        <label>Title</label>
        <br>
        <input type="text" name="title" required #title="ngModel" [(ngModel)]='newItem.title' />
      </div>
      <div>
        <label>description</label>
        <br>
        <textarea type="text" name="description" [(ngModel)]='newItem.description'></textarea>
      </div>
      <div>
        <label>link</label>
        <br>
        <input type="text" name="link" [(ngModel)]='newItem.link' />
      </div>
      <br>
      <button type="submit" [disabled]="!form.form.valid">Add</button>
      <button type="button" (click)="closeNew()">Close</button>
    </form>
  </div>
</div>